<div class="container content">
    <div class="row">
        <div class="col-md-6">
            Hola 
        </div>
        <div class="col-md-6">
            Mundo 
        </div>
    </div>
</div>

<hr>

<div class="container">
    <!-- Content here -->
  </div>
<div class="container orange">
    <div class="row">
        <div class="col-md-9">
            Hola 
        </div>
        <div class="col-md-9">
            Mundo 
        </div>
    </div>
</div>

<hr>

<div class="container-sm">100% wide until small breakpoint</div>

<div class="container-md">100% wide until medium breakpoint</div>

<div class="container-lg">100% wide until large breakpoint</div>

<div class="container-xl">100% wide until extra large breakpoint</div>

<hr>

<div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col">
        1 of 2
      </div>
      <div class="col">
        2 of 2
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="w-100"></div>
      <div class="col">col</div>
      <div class="col">col</div>
    </div>
  </div>

  <hr> 

  <div class="container">
        <div class="row">
            <div class="col">
                1 of 3
            </div>
            <div class="col-6">
                2 of 3 (wider)
            </div>
            <div class="col">
                3 of 3
            </div>
        </div>
        <div class="row">
            <div class="col">
                1 of 3
            </div>
            <div class="col-5">
                2 of 3 (wider)
            </div>
            <div class="col">
                3 of 3
            </div>
        </div>
  </div>